//colours
$naranja: rgba(250, 118, 9, 0.952);
$negro: rgb(0, 0, 0);
$naranja_oscuro: rgba(253, 43, 5);
$blanco:  rgb(255, 252, 252);
$azul:rgb(21, 2, 158);
$fuxia: rgb(204, 7, 178);
//Tipografía
$fuente_principal: 'Monserrat', Sans-serif;
//Tamaño de pantallas
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;





